.container {
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-around;
}
.benefits li {
  padding: 0px;
  gap: 8px;
  width: 264px;
  /* height: 72px; */
}
.benefit-name {
  text-align: center;
}

.benefit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: var(--light-color);
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.our-work li {
  width: 360px;
}

.presentation {
  padding-top: 0;
}

.presentation h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.our-team {
  background-color: var(--light-color);
  text-align: center;
  width: 100%;
}

.customers-icons {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1156px;
}

.footer-socials {
  margin-left: 120px;
}

.subscription {
  margin-left: 80px;
  margin-top: 0;
}

.footer > .mobile-footer {
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 108px;
  min-width: 1024px;
}
.subscribe {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
