:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pure-white: white;
  --order-active: #404bbf;
  --basic-svg: #afb1b8;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

header {
  height: 70px;
}

.contacts {
  display: none;
}

.navigation {
  margin-left: auto;
}

.header {
  /* align-items: center; */
}

/* burger-menu */

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--pure-white);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-top: 40px;
}

.phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--primary-brand-color);
  margin-top: 284px;
}

.email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 40px 0 48px;
}

.burger-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 428px) {
  .burger-socials {
    gap: 56px;
  }
}

.burger-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-socials a:hover,
.burger-socials a:focus {
  background-color: var(--success-color);
}

.order {
  padding: 112px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
    url('../images/people-office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 432px;
  width: auto;
  margin: 0 auto;
}

.order-button {
  cursor: pointer;
  color: var(--pure-white);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  padding: 16px 32px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order h1 {
  font-size: 36px;
  width: 300px;
  min-width: 150px;
  height: 80px;
  line-height: 1.11;
}

.modal {
  position: absolute;
  min-width: 392px;
  height: 586px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 24px;
  padding-top: 72px;
  padding-bottom: 24px;
}

.benefits {
  /* display: block;
  margin: 0 auto; */
}

.benefits li {
  display: block;
  padding: 0;
}

.benefits li:not(:last-child) {
  margin-bottom: 72px;
}

.benefit-name {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.team-cards {
  display: block;
  margin: 0 auto;
}

.our-team h2 {
}

.team-cards > li {
  margin: 0 auto;
  margin-top: 72px;
}

@media screen and (min-width: 560px) {
  .container.customers {
    width: 560px;
  }
}

.customers-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.customers-icons a {
  width: 168px;
}

.footer-socials {
  margin: 72px 0 16px;
}

.subscribe input {
  padding: 0;
}

.footer > .mobile-footer {
  display: block;
  text-align: center;
  min-width: 320px;
  width: 100%;
}

.subscribe {
  flex-direction: column;
  align-items: center;
}

.subscribe input {
  padding-left: 16px;
}

.subscription {
  margin: 0;
}

.subscription p {
  margin: 72px 0 16px;
}

.social-links {
  justify-content: center;
}

.footer-text {
  text-align: left;
}

.logos p {
  margin: 0 auto;
  margin-top: 16px;
}

.subscribe input {
  width: 100%;
}
