:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pure-white: white;
  --order-active: #404bbf;
  --basic-svg: #afb1b8;
}

.container {
  width: 768px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.current::after {
  top: 57px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: auto;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #434455;
}

.navigation {
  margin-left: 123px;
}

.menu-toggle,
#mobile-menu {
  display: none;
}

.modal {
  position: absolute;
  width: 408px;
  height: 586px;
  left: 180px;
  top: 96px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0 24px;
  padding-top: 72px;
  padding-bottom: 24px;
}

.order {
  padding: 112px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
    url('../images/people-office-desk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1157px;
  height: 436px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
      url('../images/people-office-desk2x.jpg');
  }
}

.order-button {
  cursor: pointer;
  color: var(--pure-white);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  padding: 16px 32px;
  margin-top: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.benefits-li-item {
  width: calc((100% - 24px) / 2);
}

.benefit-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  column-gap: 24px;
  justify-content: center;
}

.our-team {
  background-color: var(--light-color);
  text-align: center;
  width: 100%;
}

.container.customers {
  width: 585px;
}

.customers-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.customers-icons > li {
  width: 168px;
}

.footer-socials {
  margin-left: 24px;
}

.footer > .mobile-footer {
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 535px;
}

.subscription {
  margin-top: 72px;
  margin-left: 0;
}
