.container {
  width: 768px;
}

.benefits {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0px;
  /* max-width: 759px; */
}
.benefits li {
  margin-bottom: 72px;
  gap: 8px;
  width: 47%;
  height: 72px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  column-gap: 24px;
  justify-content: center;
}

.our-team {
  background-color: var(--light-color);
  text-align: center;
  width: 100%;
}

.customers-icons {
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 740px;
}

.customers-icons > li {
  width: 168px;
}

.footer-socials {
  margin-left: 24px;
}

.footer > .mobile-footer {
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 108px;
  max-width: 978px;
}

.subscription {
  margin-top: 72px;
  margin-left: 0;
}
