:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pure-white: white;
  --order-active: #404bbf;
  --basic-svg: #afb1b8;
}

.container {
  width: 768px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.menu-toggle,
#mobile-menu {
  display: none;
}

.order {
  padding: 112px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)),
    url('../images/people-office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 436px;
  margin: 0 auto;
}

.order-button {
  cursor: pointer;
  color: var(--pure-white);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  padding: 16px 32px;
  margin-top: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.benefits li {
  margin-bottom: 72px;
  gap: 8px;
  width: 47%;
  height: 72px;
}

.benefit-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  column-gap: 24px;
  justify-content: center;
}

.our-team {
  background-color: var(--light-color);
  text-align: center;
  width: 100%;
}

.container.customers {
  width: 585px;
}

.customers-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.customers-icons > li {
  width: 168px;
}

.footer-socials {
  margin-left: 24px;
}

.footer > .mobile-footer {
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 535px;
}

.subscription {
  margin-top: 72px;
  margin-left: 0;
}
